img[src*="#profile"] {
   object-fit: cover;
   width:200px;
   height:200px;
   border-radius:50%;
}

img[src*="#supporter1"] {
   object-fit: scale-down;
   height:150px;
   width:400px;
}
img[src*="#supporter2"] {
   object-fit: scale-down;
   height:100px;
   width:300px;
}
img[src*="#supporter3"] {
   object-fit: scale-down;
   height:125px;
   width:200px;
}
img[src*="#sampledata"] {
   object-fit: scale-down;
   max-width: 60%;
}
img[src*="#figure"] {
   display: block;
   object-fit: scale-down;
   max-width: 75%;
   margin-left: auto;
   margin-right: auto;
}
img[src*="#figure-full"] {
   display: block;
   object-fit: scale-down;
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;
}
.figure-caption {
   display: block;
   object-fit: scale-down;
   max-width: 75%;
   margin-left: auto;
   margin-right: auto;
   color: white;
}


a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.mbtablestyle {
        border-collapse: collapse;

   > table, td, th {
        border: 1px solid black;
        }
}
